torch
transformers
datasets
accelerate
nltk
PyPDF2
pandas
scikit-learn
huggingface-hub
matplotlib
seaborn
llama-index
langchain_community
langchain_huggingface
langchain-pinecone
pinecone-client 
pinecone-text
pymilvus
pymilvus[model]
sentence-transformers 
ChromaDb
rank-bm25
accelerate
langchain-milvus